* {
    main-bg:            #1D1C29B3;
    main-fg:            #D0CCFFE6;
    main-br:            #565468E6;
    main-ex:            #363544E6;
    select-bg:          #B4AAF080;
    select-fg:          #2E2952E6;
}
